/**** profile ****/
@import url('../colors/user-color-blue.css');

.main-menu-back-button > svg {
    vertical-align: middle;
}

#prof {
    cursor: pointer;
    /*border: 1px solid #e6e6e6;
    border-radius: 6px;*/
    float: right;
    padding: 0px;
    /*color: #989696;*/
    font-size: small;
    width: 100%;
    height: 100%;
    justify-content:space-between;
}

.prof {
    /*position: absolute;*/
}

@media only screen and (max-width: 480px) {
    .prof {
        top: -10px;
        left: 0px;
        right: 0px;
    }
}

@media only screen and (min-width: 481px) {
    .prof {
        top: 0px !important;
        right: 0px;
    }
}

.prof_icon.active {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /*background-color: white;*/
    z-index: 4;
}

.menu-user-name {
    line-height: 1.1;
    font-size: 13px;
}

#prof img.profIMG {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    font-size: small;
    padding: 1px;
    display: inline-block;
    margin-right: 10px;
}

.prof_info {
    position: absolute;
    display: none;
    right: 0;
    border-radius: 6px;
    border-top-right-radius: 0px;
    /*border-bottom: 1px solid #ececec;*/
    /*border-left: 1px solid #ececec;*/
    /*border-right: 1px solid #ececec;*/
    /*background-color: rgba(255,255,255,1);*/
    width: auto;
    font-size: small;
    z-index: 8;
    /*box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .4);*/
}

.prof_item.main-menu-back-button {

}

/*.prof-item-notice {
    border-bottom: 1px solid #f5f5f5;
}*/

#scroll_alert > div {
    padding: 0 5px;
}

    #scroll_alert > div > div.alert_time {
        float: right;
        /*color: #1F5989;*/
    }

.prof_zak, .prof_zak2, .prof_dialog, .prof_mess, .prof_alert {
    max-height: 500px;
    overflow: auto;
}

.switcher {
    display: block;
    margin-right: 0;
}

.switch_content {
    position: absolute;
    right: 0;
    border-radius: 6px;
    /*background-color: rgba(255,255,255,1);*/
    display: inline-block;
    z-index: 3;
}

.switch_menu_li {
    width: 100%;
}

#prof_info .prof_item {
    padding: 9px 4px 9px 8px;
    font-size: 13px;
    /*border-bottom: 1px solid #f5f5f5;
    background-color: white;*/
    z-index: 2;
}

.prof_item p,
.prof_last_item p {
    padding: 0px 10px;
}

#prof_info .prof_last_item {
    padding: 9px 4px 9px 8px;
    font-size: 13px;
    /*border-bottom: 1px solid #f5f5f5;
    background-color: white;*/
    z-index: 2;
}

#bottom_mark {
    /*background-color: #1F5989;*/
    cursor: pointer;
    padding-top: 10px;
    /*color: #fff;*/
    padding-bottom: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.click, #prof_icon {
    font-size: 13px;
    /*color: #1c4174;*/
    font-family: Roboto-Regular;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*#prof_icon.active {
    border: 1px solid #e6e6e6;
    background-color: #fff;
}*/

/*@media only screen and (min-width : 769px) {
    #prof_icon {
        background-color: #e1e3e0;
        border: 1px solid #c9cfd3;
    }
}*/

.prof_main_item {
    border-bottom: transparent;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    /*color: #a2a2a2;*/
}

.prof_icon {
    /*border: 1px solid #e6e6e6;*/
    border-radius: 6px;
    /*background-color: #fff;*/
}

.click:hover {
    text-decoration: underline;
}

    .click:hover > img {
        text-decoration: none;
    }

/**** профиль ****/

.prof-main-menu-block {
    margin-top: 18px;
    margin-bottom: 15px;
}

.prof-main-menu-block > div {
    font-size: 13px;
    /*color: #1c4174;*/
    font-family: Roboto-Regular;
}

#prof_zak,
#prof_zak2,
#prof_mess,
#prof_dialog,
#prof_alert {
    /*max-height: 400px;*/
    width: 320px;
    margin-top: -1px;
    border-bottom-left-radius: 5px;
}

#prof_zak div *,
#prof_zak2 div *,
#prof_mess div *,
#prof_dialog div *,
#prof_alert  div *{
    /*color: #fff;*/
    font-family: Roboto-Regular;
}

.cont {
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: middle;
}

    /*.cont > .institution-name {
        color: #3b3b3b;
    }*/

    .cont > .work-time {
        /*color: #757575 !important;*/
        font-size: 12px;
    }

.messages-cont {
    margin: 0 0 0 8px;
    line-height: 1.1;
    width: 25%;
}

/*.cont > .family, .cont > .name {
    color: #a2a2a2;
}

.cont > .last_mess_time {
    color: #b6b6b6;
}*/

.cont_zak {
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: middle;
    /*width: 83%;*/
}

    /*.cont_zak > .dish-name {
        color: #3b3b3b;
    }

    .cont_zak > .dish-info {
        font-size: 12px;
    }

        .cont_zak > .dish-info > .price {
            color: #b6b6b6;
        }

        .cont_zak > .dish-info > .summ-price {
            color: #969696;
        }*/

#prof_info .all-summ {
    /*border-top: 1px solid #d2d2d2;*/
    padding-top: 22px;
    padding-bottom: 19px;
    padding-left: 12px;
    /*color: #9c9c9c;*/
    /*border-bottom: 1px solid #f5f5f5;*/
    /*background-color: white;*/
    z-index: 2;
}

.icon {
    width: 35px;
    height: 35px;
}

.last_mess_time {
    font-size: 12px;
    /*color: #2477a3 !important;*/
}

.last_mess {
    display: inline-block;
    float: right;
    vertical-align: middle;
    height: 100%;
    width: 60%;
    /*color: #737373 !important;*/
}

.alert_msg {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    /*color: #3b3b3b;*/
}

.allSum {
    float: right;
    padding-right: 3px;
}

.smiles, .submit {
    /*background: linear-gradient(#2477a3, #1c4174);*/
    padding: 5px;
    border-radius: 5px;
    /*color: #ffffff !important;*/
    margin-left: 1%;
}

/*.smiles:active, .submit:active {
    background: linear-gradient(#1c4174, #2477a3);
}*/

.peoplb, .sendf {
    /*background: linear-gradient(#E9E7E7, #c1bbbb);*/
    padding: 5px;
    border-radius: 5px;
}

/*.peoplb:active, .sendf:active {
    background: linear-gradient(#c1bbbb, #E9E7E7);
}*/

.smile-and-button-block {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 15px;
}

#prof_mess textarea {
    /*border: 1px solid #e6e6e6;*/
    resize: none;
    width: 100%;
    /*border-radius: 5px;*/
}

    #prof_mess textarea:active {
        /*border: 1px solid #e6e6e6;*/
        resize: none;
        width: 100%;
        /*border-radius: 5px;*/
    }

#scroll_alert .prof-item-notice, 
#scroll_alert .prof-last-item-notice{
    height: 55px;
    padding: 10px;
}

/* common */
.align-items-vertical {
    display: flex;
    align-items: center;
}

.main-data-menu-opened {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    margin-top: -1px;
}


/*  остальные */

/*.right_container {
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom-right-radius: 5px;
    z-index: 1;
}*/

/*Scroll styles*/
/*@media only screen and (min-device-width: 768px) {
    #scroll_container {
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        margin-bottom: 0px;
        height: 80%;
        background: linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
    }
}

@media only screen and (max-device-width: 768px) {
    #scroll_container {
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        margin-bottom: 0px;
        height: 59%;
        background: linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
    }
}*/

/* общая ширина ползунка */
#scroll_alert::-webkit-scrollbar,
#scroll_zak::-webkit-scrollbar,
#scroll_zak2::-webkit-scrollbar,
#scroll_dialog::-webkit-scrollbar,
#scroll_mess::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.col-without-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.main-menu-punkt {
    position: relative;
    /*height: 400px;*/
}

.main-menu-back-button {
    /*position: absolute;*/
    width: 100%;
    /*background-color: white;*/
    border-top-left-radius: 6px;
    border-top-right-radius: 3px;
    /*color: #5f5e5e;*/
    text-decoration: none;
    display: -webkit-inline-box;
}

    .main-menu-back-button svg{
        margin-bottom: 3px;
    }

    .main-menu-back-button:hover > .main-menu-back-button-label {
        /*text-decoration: underline;*/
    }

.main-menu-back-button-label {
    /*vertical-align: super;*/
    margin-left: 5px;
    /*color: #1F5989;*/
    font-size: 14px;
    font-family: Roboto-Regular;
}

.main-menu-body {
    /*position: absolute;*/
    height: 361px;
    /*top: 39px; */
    bottom: 0;
    overflow: auto;
    width: 100%;
}



.main-menu-back-button > p {
    width: 280px;
    margin-top: 1px;
    margin-left: -2px;
}

/*---Color for user_block_in_menu---*/
@media only screen and (max-width : 769px) {
    .prof_info {
        right: 1px !important;
        width: 100% !important;
        /*border-bottom: 1px solid #deb887 !important;
        border-left: 1px solid #deb887 !important;
        border-right: 1px solid #deb887 !important;*/
    }

    .switch_content,
    .prof_last_item textarea, 
    .main-menu-back-button-label,
    .prof-main-menu-block>div
    {
        /*color: #fff !important;*/
    }

    /*#prof_info .prof_item,
    #prof_info .prof_last_item,
    #prof_info .all-summ,
    .prof_info,
    .prof_icon.active,
    .switch_content,
    .prof_last_item textarea, 
    .main-menu-back-button-label,
    .prof-main-menu-block>div,
    .main-menu-back-button {
        background-color: #fff !important;
        color: #1c4174;
    }*/

    .main-menu-back-button{
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    #user_block_in_menu .last_mess,
    .alert_msg,
    #user_block_in_menu .institution-name,
    .dish-name, .dish-info, .all-summ,
    #scroll_dialog .family,
    #scroll_dialog .name,
    #scroll_mess .family,
    #scroll_mess .name
     {
        /*color: #deb887 !important;*/
        /*color: #fff !important;*/
    }

    /*.work-time,.prof_item .price,
    .prof_item .summ-price,
    #scroll_zak2 .allSum, 
    #scroll_zak2 p.dish-info>span.price,
    .prof_last_item .summ-price{
        color: #1F5989 !important;
    }*/

    #prof_mess textarea,
    #prof_mess textarea:active {
        /*border: 1px solid #deb887 !important;*/
    }

    #prof_info .prof_item,
    #prof_info .all-summ,
    .prof-item-notice {
        /*border-bottom: 1px solid #deb887 !important;*/
    }

    .span_status {
        margin-right: 20px !important;
    }
}

.span_status {
    margin-right: 40px;
}