.main_color {
    color: #cf4b02;
}

.secondary_color {
    color: #3e3e3e;
}

.black {
    color: #3e3e3e;
}

.user_block {
    border: 1px solid #c9cfd3;
    background-color: #e1e3e0;
}

    .user_block a:hover {
        color: #f89b2f;
    }

#user_block_in_menu #prof_icon {
    color: #fff;
}

#user_block_in_menu .prof_icon {
    background: transparent;
}

.nav_main {
    border-color: #cf4b02;
    background: linear-gradient(#ef7532, #cf4b02);
}

    .nav_main li {
        color: #fff;
        border-left-color: #fca371 !important;
    }

        .nav_main li a {
            color: #fff;
        }

#menu, #menu-top {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .4);
}

#call_me form {
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
    background: #ebedeb;
}

#call_me button {
    color: #fff;
    background: linear-gradient(#ef7532, #cf4b02);
}

    #call_me button:active {
        background: linear-gradient(#cf4b02, #ef7532);
    }

#call_me input {
    border-color: #b5b5a3 !important;
}

#call_me:before {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: #ebedeb !important;
}

.dropbtn, .menu_btn {
    color: white;
}

    .dropbtn:focus,
    .menu_btn:focus {
        background-color: #cf4b02;
    }

    .dropbtn:active, .menu_btn:active {
        background-color: #cf4b02;
    }

.dropdown-content {
    /*background-color: #ed742f;*/
    background-color: #e26118;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .4);
}

    .dropdown-content a {
        color: #fff;
        border-bottom: 1px solid #ef7532;
    }

.mob_nav_menu_btn {
    background-color: rgba(237, 116, 47, .95);
}

.mobile-menu {
    background-color: rgba(237, 116, 47, .95);
    border-top: 1px solid #fff;
}

    .mobile-menu li {
        border-bottom: 1px solid #fff;
    }

        .mobile-menu li > a {
            color: #fff;
        }

.nav_menu_mob_border {
    background: linear-gradient(#ef7532, #cf4b02);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .4);
}

#carousel {
    background-color: #ecece0;
}

.capt_for_slider1 {
    color: #cf4b02;
}

#carousel li {
    border-color: #cf4b02;
}

    #carousel li.active {
        background-color: #f89b2f;
    }

.dish {
    color: #cf4b02;
}

    .dish .discription:hover {
        color: #3e3e3e;
    }

    .dish > h4 > a {
        color: #cf4b02;
    }

    .dish > h4 {
        color: #cf4b02;
    }

.slider2_description {
    color: white;
    background-color: rgba(18,15,14, 0.6);
}

.breadcrumb1 > li > a {
    color: #cf4b02;
}

.breadcrumb1 > li {
    color: #cf4b02 !important;
}

    .breadcrumb1 > li + li:before {
        color: #3e3e3e;
    }

/* ползунок */
::-webkit-scrollbar-thumb {
    border-color: #ecece0;
    background-color: #cf4b02;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #ef7532;
    }

.image1180x500 {
    background: #f0e3d6;
}

.image80x80 {
    background: #ecece0;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    background: #fff;
}

svg path {
    fill: #cf4b02;
}

.slideshow > nav span {
    border-color: #ef7532 !important;
}

    .slideshow > nav span:hover {
        background-color: #ef7532;
    }

    .slideshow > nav span.current {
        background-color: #cf4b02;
    }

.slideshow h2,
.slideshow .description {
    color: #505050;
}

    .slideshow h2 span {
        color: #cf4b02;
    }

.dish .discription,
.footer_phone,
.footer_email,
.opening_hours title,
.time .text,
.callback .header_text div,
#call_me form,
.footer_delivery p,
.footer_delivery .time .text {
    color: #3e3e3e;
}

footer h3,
.time .number,
#callback,
.slide-header {
    color: #cf4b02;
}

/*cf4b02*/
