.order .panel-heading {
    background-color: #d3d7da;
}

.order_touchspin .btn-default {
    background: linear-gradient(#f89b2e, #e8701b);
    color: #fff;
}

    .order_touchspin .btn-default:active {
        background: linear-gradient(#e8701b, #f89b2e);
        color: #fff;
    }

.basket {
    background: linear-gradient(#e6e9eb, #7c7f83);
}

.basket:active {
    background: linear-gradient(#7c7f83, #e6e9eb);
}

.watch {
    background: linear-gradient(#2477a3, #1c4174);
}

.watch:active {
    background: linear-gradient(#1c4174, #2477a3);
}

.add_files_btn {
    background: linear-gradient(#2477a3, #1c4174);
    color: #fff;
}

.add_files_btn:active {
    background: linear-gradient(#1c4174, #2477a3);
}

.add_files_btn:hover {
    color: #fff;
}

.order .panel {
    border-bottom-color: #babec0 !important;
}

.order .selectpicker {
    border-color: #eeeee3;
    outline-color: #512c15;
}

.order .selectpicker>option {
    border-color: #eeeee3;
    outline-color: #512c15;
}

.order_spot, .order_item_count {
    color: #1c4174;
}

.result {
    background-color: #eeeee3;
}

.cansel_btn {
    background: linear-gradient(#e8e8e8, #cacaca);
 }

.cansel_btn:active {
    background: linear-gradient(#cacaca, #e8e8e8);
 }

.confirm_btn {
   background: linear-gradient(#f89b2e, #e8701b);
   color: #fff;
}

.confirm_btn:active {
   background: linear-gradient(#e8701b, #f89b2e);
   color: #fff;
}

.confirm_btn:hover, .confirm_btn:focus {
    color: #fff;
}

#orders_title .btn-group label,
#orders_title .btn-group-vertical label
 {
    background: #fff;
    color: #1c4174;
}

#orders_title .btn-primary {
    border-color: #1c4174;
}

#orders_title .btn-group label.active,
#orders_title .btn-group-vertical label.active {
    background: linear-gradient(#2477a3, #1c4174);
    color: #fff;
}

.inner_order .discription  {
    color: #000;
}

.vertical_line {
    border-left:4px solid #1c4174;
    background: transparent;
}

.vertical_line .table {
    background: #fff;
}

#orders_title h4,
.order_item_number_title,
.order_item_name,
.order_item_count,
.order_spot,
.order_item_status,
.order_item_number,
.order h5,
.order h4,
.add_files_title 
{
    color: #1c4174;
}

/*.dlvr_type_icon.export {
    width: 22px;
    height: 20px;
    background-image: url(/img/icons/export.png);
    background-repeat: no-repeat;
}

.dlvr_type_icon.import {
    width: 22px;
    height: 20px;
    background-image: url(/img/icons/import.png);
    background-repeat: no-repeat;
}

.dlvr_type_icon.transit {
    width: 22px;
    height: 20px;
    background-image: url(/img/icons/transit.png);
    background-repeat: no-repeat;
}

.dlvr_type_icon.crossbooking,
.img_crossbooking {
    width: 22px;
    height: 20px;
    background-image: url(/img/icons/crossboking.png);
    background-repeat: no-repeat;
}

#orders_title .type span {
    height: 25px;
    display: flex;
    align-items: center;
}*/