.order .panel-heading {
    background-color: #f0e3d6;
}

.order_touchspin .btn-default {
    background: linear-gradient(#f89b2e, #e8701b);
    color: #fff;
}

    .order_touchspin .btn-default:active {
        background: linear-gradient(#e8701b, #f89b2e);
        color: #fff;
    }

.basket {
    background: linear-gradient(#e6e9eb, #7c7f83);
}

.basket:active {
    background: linear-gradient(#7c7f83, #e6e9eb);
}

.watch {
    background: linear-gradient(#ef7532, #cf4b02);
}

.watch:active {
    background: linear-gradient(#cf4b02, #ef7532);
}

.add_files_btn {
    background: linear-gradient(#ef7532, #cf4b02);
    color: #fff;
}

.add_files_btn:active {
    background: linear-gradient(#cf4b02, #ef7532);
}

.add_files_btn:hover {
    color: #fff;
}

.order .panel {
    border-bottom-color: #f6ccb4 !important;
}

.order .selectpicker {
    border-color: #eeeee3;
    outline-color: #512c15;
}

.order .selectpicker>option {
    border-color: #eeeee3;
    outline-color: #512c15;
}

.order_spot, .order_item_count {
    color: #cf4b02;
}

.result {
    background-color: #eeeee3;
}

.cansel_btn {
    background: linear-gradient(#e8e8e8, #cacaca);
 }

.cansel_btn:active {
    background: linear-gradient(#cacaca, #e8e8e8);
 }

.confirm_btn {
   background: linear-gradient(#f89b2e, #e8701b);
   color: #fff;
}

.confirm_btn:active {
   background: linear-gradient(#e8701b, #f89b2e);
   color: #fff;
}

.confirm_btn:hover, .confirm_btn:focus {
    color: #fff;
}

#orders_title .btn-group label,
#orders_title .btn-group-vertical label
 {
    background: transparent;
    color: #3e3e3e;
}

#orders_title .btn-primary {
    border-color: #cf4b02;
}

#orders_title .btn-group label.active,
#orders_title .btn-group-vertical label.active {
    background: linear-gradient(#ef7532, #cf4b02);
    color: #fff;
}

.inner_order .discription  {
    color: #000;
}

.vertical_line {
    border-left:4px solid #cf4b02;
    background: transparent;
}

.vertical_line .table {
    background: #fff;
}

#orders_title h4,
.order_item_number_title,
.order_item_name,
.order_item_count,
.order_spot,
.order_item_status,
.order_item_number
{
    color: #3e3e3e;
}

.order h4,
.order h5,
.add_files_title 
{
    color: #cf4b02;
}

