#prof {
    color: #989696;
}

.prof_icon.active {
    background-color: white;
}

.prof_info {
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .4);
}

.prof-item-notice {
    border-bottom: 1px solid #f5f5f5;
}

    #scroll_alert > div > div.alert_time {
        color: #1F5989;
    }

.switch_content {
    background-color: rgba(255,255,255,1);
}

#prof_info .prof_item {
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
}

#prof_info .prof_last_item {
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
}

#bottom_mark {
    background-color: #1F5989;
    color: #fff;
}

.click, #prof_icon {
    color: #1c4174;
}

#prof_icon.active {
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

@media only screen and (min-width : 769px) {
    #prof_icon {
        background-color: #e1e3e0;
        border: 1px solid #c9cfd3;
    }
}

.prof_main_item {
    color: #a2a2a2;
}

.prof_icon {
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.prof-main-menu-block > div {
    color: #1c4174;
}

    .cont > .institution-name {
        color: #3b3b3b;
    }

    .cont > .work-time {
        color: #757575 !important;
    }

.cont > .family, .cont > .name {
    color: #a2a2a2;
}

.cont > .last_mess_time {
    color: #b6b6b6;
}

.cont_zak > .dish-name {
    color: #3b3b3b;
}

.cont_zak > .dish-info {
    font-size: 12px;
}

    .cont_zak > .dish-info > .price {
        color: #b6b6b6;
    }

    .cont_zak > .dish-info > .summ-price {
        color: #969696;
    }

#prof_info .all-summ {
    border-top: 1px solid #d2d2d2;
    color: #9c9c9c;
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
}

.last_mess_time {
    color: #2477a3 !important;
}

.last_mess {
    color: #737373 !important;
}

.alert_msg {
    color: #3b3b3b;
}

.smiles, .submit {
    background: linear-gradient(#2477a3, #1c4174);
    color: #ffffff !important;
}

.smiles:active, .submit:active {
    background: linear-gradient(#1c4174, #2477a3);
}

.peoplb, .sendf {
    background: linear-gradient(#E9E7E7, #c1bbbb);
}

.peoplb:active, .sendf:active {
    background: linear-gradient(#c1bbbb, #E9E7E7);
}

#prof_mess textarea,
#prof_mess textarea:active {
    border: 1px solid #e6e6e6;
}

.main-menu-back-button {
    background-color: white;
    color: #5f5e5e;
}

.main-menu-back-button-label {
    color: #1F5989;
}

#prof_info .prof_item,
#prof_info .prof_last_item,
#prof_info .all-summ,
.prof_info,
.prof_icon.active,
.switch_content,
.prof_last_item textarea, 
.main-menu-back-button-label,
.prof-main-menu-block>div,
.main-menu-back-button {
    background-color: #fff !important;
    color: #1c4174;
}

.work-time,.prof_item .price,
.prof_item .summ-price,
#scroll_zak2 .allSum, 
#scroll_zak2 p.dish-info>span.price,
.prof_last_item .summ-price{
    color: #1F5989 !important;
}

#prof_zak .tracking_number,
.user_block a {
    color: #1c4174;
}