.blue_style{
    color:#1c4174; /* 1 menu gradient*/
    color:#2477a3; /* 2 menu gradient*/
    color:#3e3e3e; /* 3 */
    color:#c9cfd3; /* 4 */
    color:#e1e3e0; /* 5 */
    color:#4b86a5; /* 6 .nav_main li*/
    color:#ebedeb; /* 7 */
    color:#b5b5a3; /* 8 */
    color:#ecece0; /* 9 */
    color:#1F5989; /* 10 */ 
    color:#d3d7da; /* 11 */
    color:#babec0; /* 12 */
    
    color:rgba(31, 89, 137, .95);
    color:rgba(18,15,14, 0.6);
    
    color:#f89b2f; /* 6 not use*/
}

.orange_style {
    color:#e9631a; /* 1 menu gradient*/
    color:#ff803a; /* 2 menu gradient*/
    color:#3e3e3e; /* 3 */
    color:#c9cfd3; /* 4 */
    color:#e1e3e0; /* 5 */
    color:#f68343; /* 6 .nav_main li border-left-color*/
    color:#ebedeb; /* 7 */
    color:#b5b5a3; /* 8 */
    color:#ecece0; /* 9 */
    color:#ed742f; /* 10 */
    color:#d3d7da; /* 11 */
    color:#f6ccb4; /* 12 */

    color:rgba(237, 116, 47, .95);
    color:rgba(18,15,14, 0.6);

    color:#f89b2f; /* not use*/
    color:#ed742f; /*.dropdown-content  background-color*/
}

/*1. Градиент меню, кнопку Перезвонить, кнопку выйти, кнопку Отправить, кнопку смайлов, и переключатель перевозок (Мультимодальная, Ж/Д, Авто и т.д.) градиентом с #cf4b02 (темная сторона) до #ef7532 (Светлая сторона) снизу темная сторона - сверху светлая.

2. Все оранжевые надписи сделай #cf4b02 (Заголовки блоков, заголовки футера, в шапке, в личном блоке)

3. Фон не раскрытого личного блока сделай прозрачным

4. Надписи в слайдере сделай цветом #505050

5. Цвет не наведенного скрола #cf4b02, цвет скрола при наведении #ef7532*/