.blue{

color:#1c4174; /*menu gradient*/
color:#2477a3;	/*menu gradient*/
color:#3e3e3e;
color:#3b3b3b;
color:#c9cfd3;
color:#e1e3e0;
color:#f89b2f;
color:#4b86a5;
color:#ebedeb;
color:#b5b5a3;
color:#ecece0;
color:#1F5989;
color:#f9f9f9;

color:rgba(31, 89, 137, .95);
color:rgba(18,15,14, 0.6);

color:#e5e5e5;
color:#d3d7da;
}

.orange {
}